# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
jobs:
  test:
    docker:
      - image: circleci/node:12

    working_directory: ~/star-university-q3-2021-group-1
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
  
      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Run tests
          command: npm run test

      - run:
          name: Run prittier check
          command: npm run format

      - run:
          name: Run lint check
          command: npm run lint
  deploy:
    docker:
      - image: circleci/node:12

    working_directory: ~/star-university-q3-2021-group-1
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
  
      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Add name
          command: git config --global user.name "Pavel Levchenko"
      - run:
          name: Add email
          command: git config --global user.name "plevchenko@star.global"
      - add_ssh_keys:
          fingerprints:
            - "8f:61:25:e5:5b:c7:8a:e1:86:24:c0:8d:1c:e8:50:91"
      - run:
          name: Build project
          command: npm run build
      - run:
          name: Deploy project
          command: npm run deploy

workflows:
  stage_test_approve_deploy:
    jobs:
    - test
    - deploy:
          filters:
            branches:
              only: main


#  workflows:
#    test-workflow:
#      jobs:
#       - test
#       - format
#       - lint
#       - build
#       - deploy
    # steps:
    #   - checkout
    #   - restore_cache:
    #       keys:
    #         - v1-dependencies-{{ checksum "package.json" }}
    #         - v1-dependencies-

    #   - run: npm install

    #   - save_cache:
    #       paths:
    #         - node_modules
    #       key: v1-dependencies-{{ checksum "package.json" }}

    #   - run: npm run test
    #   - run: npm run format
    #   - run: npm run lint

  # deploy:
  #   docker:
  #     - image: circleci/node:12

  #     steps:
  #       - checkout
  # - run: npm run build
  # - run: npm run deploy



  # workflows:
  # stage_test_approve_deploy:
  #   jobs:
  #     - stage
  #     - test:
  #         requires:
  #           - stage
  #     - hold:
  #         type: approval
  #         requires:
  #           - test
  #     - deploy:
  #         requires:
  #           - hold