.forum{
    margin: 0 auto;
    max-width: 1000px;
    padding-top: 100px;
}
.forum__sort{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.forum__sort_text{
    font-size: 20px;
}
.forum__topNav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.forum__searchAndNewPost{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.forum__post{
    margin-top: 25px;
    
    
}
.forum__addPostBtn{
    background-color: #42a5f5;
}
