
.post__user {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.post__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.post__bodyAndVote {
  display: flex;
}

.post__bodyAndVote {
  text-align: start;
}
.post__raiting {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 150px; */
  padding-left: 14px;
}
.post__title{
  text-align: center;
}

.post__bodyText {
  padding-left: 40px;
}
.post__comments {
  padding-left: 85px;
}

.post__comments_blocks{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  width: 150px;
  padding: 5px;
  border-radius: 10px;
  transition: 0.5s;
}
.post__comments_blocks:hover{
  background-color: #EAEEF3;
}

.comment {
  color: #bdbdbd;
}
