.change_settings_modal_wrap {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: 2s; */
}

.change_settings_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff7df;
  /* opacity: 0.9; */
  padding: 40px;
  border-radius: 15px;
  width: 400px;
}

.change_settings_title {
  margin: 0;
}

.change_settings_form input {
  margin: 20px 0;
}

.change_settings_form button {
  width: 150px;
  padding: 12px 30px;
  background: orange;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.change_settings_btns_wrap {
  display: flex;
}

.cancel_btn {
  margin-left: 15px;
}
