.user_info_wrap {
  text-align: center;
}

.user_name_wrap {
  font-size: 25px;
}

.reputation_wrap {
  border: 3px solid orange;
  padding: 10px;
  margin-top: 15px;
}

.reputation_score {
  font-weight: bold;
}
